.container {
  width: 400px;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40;
  color: #010101;
  margin-left: 80px;
}
form {
  width: 80%;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(185, 185, 185);
  padding: 20px;
}
label {
  padding: 5px;
  font-weight: 800;
}
button {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  width: 30%;
}
li {
  display: flex;
  width: 100%;
  align-items: center;
}
.list {
  width: 400px;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30px;
}
p {
  margin-right: 20px;
}
input {
  width: 80%;
}
